        <div class="app-grid">
            {% for item in apps %}
            <article class="client-card {% for platform in item.platforms %}app-platform-{{ platform|lower }} {% endfor %}">
                <div class="client-card-body">
                    <img src="{{ static }}/{{ item.image }}" class="client-logo" alt="{{ item.alttext }}">
                    <div class="client-info">
                        <h3>{{ item.name }}</h3>
                        <div class="client-platforms">
                            {% for platform in item.platforms %}<span class="badge badge-info client-platform-badge client-platform-badge-{{ platform|lower }}">{{ platform }}</span>{% endfor %}
                        </div>
                        <p>{{ item.text }}</p>
                        <a href="{{ item.proceed_url }}" class="button">{% if item.select_text %}{{ item.select_text }}{% else %}{% trans "Select" %}{% endif %}</a>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <aside id="show-all-clients-button-container" class="callout callout-info" hidden>
            {% blocktrans %}Showing apps for <span class='platform-name'>your current platform</span> only. You may also <a href='#' id='show-all-clients-button'>view all apps.</a>{% endblocktrans %}
        </aside>
