<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Invite" %} | {{ site_name }}{% endblock %}</title>
    {% block rel_alternate %}{% endblock %}
    <link rel="stylesheet" href="{{ static }}/invite.css" integrity="sha384-XEZGYqeCB9bt5cZpJMkTtKKgvFN176rc9nSysbcNEXY3+7EE6S7XFdTZkrfZcCin">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static }}/favicon.png">
    <meta name="msapplication-TileColor" content="#4acac3">
    <meta name="theme-color" content="#4acac3">
  </head>
  <body>
    <main id="form" class="{% block form_class %}invite-wrap{% endblock %}">
      <article>
        <header>
          <h1>{% block h1 %}{% blocktrans %}Invite to {{ site_name }}{% endblocktrans %}{% endblock %}</h1>
        </header>
        <div class="body">
          {% block qr_button %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
      </article>
    </main>
    {% block qr_code %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
    <script src="{{ static }}/invite.js" integrity="sha384-VvcmOI9MzDT4ufnEr+GSQF/y41bVUIE4x09WfQueZxEvMKe+8c7PUBPTNIs0Pq+T"></script>
  </body>
</html>
