{% extends "base_min.html" %}

{% block title %}{% if error %}{% trans "Registration Error" %}{% else %}{% trans "Registration Form" %}{% endif %} | {{ site_name }}{% endblock %}
{% block h1 %}{% if error %}{% trans "Registration Error" %}{% else %}{% blocktrans %}Register on {{ site_name }}{% endblocktrans %}{% endif %}{% endblock %}

{% block form_class %}invite-wrap narrow{% endblock %}

{% block content %}
        <p>{% if app %}{% blocktrans with app_name=app.name %}<strong>{{ site_name }}</strong> is part of XMPP, a secure and decentralized messaging network. To begin chatting using <strong>{{ app_name }}</strong> you need to first register an account.{% endblocktrans %}{% else %}{% blocktrans %}<strong>{{ site_name }}</strong> is part of XMPP, a secure and decentralized messaging network. To begin chatting you need to first register an account.{% endblocktrans %}{% endif %}</p>

        <p>{%if invite.inviter %}{% blocktrans with inviter=invite.inviter|user %}Creating an account will allow to communicate with <strong>{{ inviter }}</strong> and other people on <strong>{{ site_name }}</strong> and other services on the XMPP network.{% endblocktrans %}{% else %}{% blocktrans %}Creating an account will allow to communicate with other people on <strong>{{ site_name }}</strong> and other services on the XMPP network.{% endblocktrans %}{% endif %}</p>

        {% if app %}{% if app.supports_preauth_uri %}
        <aside class="callout callout-info">
            <p>{% blocktrans with app_name=app.name %}If you already have {{ app_name }} installed, we recommend that you continue the account creation process using the app by clicking on the button below:{% endblocktrans %}</p>
            <p class="text-center"><strong>{% blocktrans with app_name=app.name %}{{ app_name }} already installed?{% endblocktrans %}</strong></p>
            <p class="text-center">
                <a href="{{ uri }}" class="button secondary small">{% trans "Open the app" %}</a><br>
                <small class="text-muted">{% trans "This button works only if you have the app installed already!" %}</small>
            </p>
        </aside>
        {% endif %}{% endif %}

        <h2>{% trans "Create an account" %}</h2>
        {%if error and error.class == 'undefined' %}<aside class="callout callout-danger" role="alert">{{ error.text }}</aside>{% endif %}
        <form method="post">
            <div class="field">
                <label for="user">{% trans "Username" %}:</label>
                <div class="input-suffix">
                    <input type="text" name="user" id="user" tabindex="1" required autofocus
                           minlength="1" maxlength="30"
                           {% if error.class == 'username' %}aria-invalid="true"{% endif %}
                           {% if username %}value="{{ username }}"{% endif %}>
                    <span class="suffix">@{{ domain }}</span>
                </div>
                {% if error.class == 'username' %}<small class="error-feedback">{{ error.text }}</small>{% endif %}
                <small class="hint">{% trans "Choose a username, this will become the first part of your new chat address." %}</small>
            </div>
            <div class="field">
                <label for="password">{% trans "Password" %}:</label>
                <input type="password" name="password" id="password" tabindex="2"
                       autocomplete="new-password" required minlength="{{ password_min_length }}"
                       {% if error.class == 'password' %}aria-invalid="true"{% endif %}>
                {% if error.class == 'password' %}<small class="error-feedback">{{ error.text }}</small>{% endif %}
                <small class="hint">{% trans "Enter a secure password that you do not use anywhere else." %}</small>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            {% if app %}<input type="hidden" name="app_id" value="{{ app.id }}">{% endif %}
            <div class="text-end">
                <button type="submit" tabindex="3">{% trans "Submit" %}</button>
            </div>
        </form>
        <nav aria-label="{% trans 'Page navigation' %}">
            <ul class="pager">
                <li><a tabindex="4" href="/{{ base }}/{{ token }}" aria-label="{% trans 'Previous' %}">&laquo; {% trans "Previous" %}</a></li>
            </ul>
        </nav>
{% endblock %}
