{% extends "base_min.html" %}

{% block title %}{% if error %}{% trans "Form Error" %}{% else %}{% trans "Reset Password" %}{% endif %} | {{ site_name }}{% endblock %}
{% block h1 %}{% if error %}{% trans "Form Error" %}{% else %}{% blocktrans %}Reset Password on {{ site_name }}{% endblocktrans %}{% endif %}{% endblock %}

{% block form_class %}invite-wrap narrow{% endblock %}

{% block content %}
        <p>{% blocktrans %}Hey, <strong>{{ username }}</strong>, if you'd like to change your password, maybe because you forgot your old one, you've come to the right place!{% endblocktrans %}</p>
        <aside class="callout callout-warning">{% blocktrans %}If this is not you, please disregard!{% endblocktrans %}</aside>
        <aside class="callout callout-info">{% trans "If you have a compatible XMPP/Jabber client installed on your system you can try using this button to reset your password instead. This way you don't need to copy your password. Otherwise proceed with the form below!" %}</aside>
        <p class="text-center"><a href="{{ uri }}" class="button secondary">{% trans "Change Password using your installed client" %}</a></p>

        <h2>{% trans "Reset Password" %}</h2>
        {%if error and error.class == 'undefined' %}<aside class="callout callout-danger" role="alert">{{ error.text }}</aside>{% endif %}
        <form method="post">
            <div class="field">
                <label for="user">{% trans "Username" %}:</label>
                <div class="input-suffix">
                    <input type="text" name="user" id="user" readonly minlength="1" maxlength="30" value="{{ username }}">
                    <span class="suffix">@{{ domain }}</span>
                </div>
            </div>
            <div class="field">
                <label for="password">{% trans "New Password" %}:</label>
                <input type="password" name="password" id="password"
                       autocomplete="new-password" required autofocus minlength="{{ password_min_length }}"
                       {% if error.class == 'password' %}aria-invalid="true"{% endif %}>
                {% if error.class == 'password' %}<small class="error-feedback">{{ error.text }}</small>{% endif %}
                <small class="hint">{% trans "Enter a secure password that you do not use anywhere else." %}</small>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="text-end">
                <button type="submit">{% trans "Submit" %}</button>
            </div>
        </form>
{% endblock %}
